<!DOCTYPE html>
<html lang="zh-TW">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>匯率計算機</title>
        <link rel="stylesheet" href="css/all.css">
    </head>

    <body>
        <div id="wrap">
            台幣兌換外匯：<input type="text" v-model="NT"><br>
            美金現行匯率：<input type="text" v-model="US"><br>
            日幣現行匯率：<input type="text" v-model="JPY"><br>
            人民幣現行匯率：<input type="text" v-model="CNY"><br>
            港幣現行匯率：<input type="text" v-model="HKD"><br>
            <h2>最後匯率更新日:{{dateTime}}</h2>
            <h3>Vue.js V-model</h3>
            <ul>
                <li>美金：{{NT / US}}</li>
                <li>日幣：{{NT / JPY}}</li>
                <li>人民幣：{{NT / CNY}}</li>
                <li>港幣：{{NT / HKD}}</li>
            </ul>
            <h3>Vue.js computed</h3>
            <ul>
                <li>美金：{{usa}}</li>
                <li>日幣：{{japan}}</li>
                <li>人民幣：{{china}}</li>
                <li>港幣：{{hk}}</li>
            </ul>
            <h4>公式：台幣/目前外匯匯率 = 金額</h4>
        </div>
        <script src="js/vue.min.js"></script>
        <script src="js/all.js"></script>
    </body>

</html>